@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.table__container {
  background: #fff;
  margin: 10px auto;
  height: 100%;

  // NAVIGATION
  .table__nav {
    display: flex;
    justify-content: space-between;
    padding: 32px 40px 24px 40px;

    .back-link {
      display: flex;
      align-items: center;

      .table__nav-header {
        font-weight: 600;
      }

      svg {
        margin-right: 8px;
      }
    }

    .edit-btn {
      display: flex;
      align-items: center;
      font-size: 16px;
      height: fit-content;

      &:hover {
        background: $instock-hoverblue;
      }

      svg {
        width: 16px;
        margin-right: 4px;
      }
    }
  }

  // WAREHOUSE INFORMATION (main container)
  .table__warehouse-details {
    display: flex;
    padding: 32px 40px;
    border-top: 1px solid $instock-cloud;

    .table__address {
      border-right: 1px solid $instock-cloud;
      margin-right: 40px;
      flex: 1;

      * {
        font-size: 14px;
        font-weight: 300;
      }
    }

    .table__contact-info {
      display: flex;
      flex: 1;

      * {
        font-size: 14px;
        font-weight: 300;
      }

      .contact-name, .contact-number {
        flex: 1;
      }
    }

    .warehouse_label {
      color: $instock-slate;
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 8px;
    }
  }

  // MAIN TABLE
  table {
    width: 100%;
    padding: 32px 40px;
    border-collapse: collapse;

    // TABLE HEADER
    thead {
      background: $instock-light-grey;
      text-align: left;
      & * {
        color: $instock-slate;
      }

      tr {
        th {
          font-weight: 300;

          td {
            display: flex;
            align-items: center;
            font-size: 14px;
            padding: 8px 24px;

            svg {
              width: 14px;
              margin-left: 8px;
              cursor: pointer;
            }
          }
        }
      }
    }

    // TABLE BODY
    tbody {
      font-weight: 300;

      tr {

        &:hover {
          background-color: $instock-transparentblue;
        }

        .table__item-name {
          display: flex;
          align-items: center;

          a {
            color: $instock-blue;
            font-weight: 600;
            margin-right: 8px;
          }

          &:hover {
            text-decoration: underline;

            svg {
              transform: translateX(4px);
              transition: transform 0.1s linear;
            }
          }
        }

        td {
          padding: 16px 24px;

          .table__cta-edit {
            cursor: pointer;

            &:hover {
              scale: (1.15);
              transition: scale .1s ease-in-out;
            }
          }

          .table__cta-delete {
            margin-right: 16px;
            cursor: pointer;

            &:hover {
              animation: shake 0.3s ease-in-out;
            }

            @keyframes shake {
              0% { transform: rotate(0); }
              20% { transform: rotate(-13deg); }
              40% { transform: rotate(13deg); }
              60% { transform: rotate(-13deg); }
              80% { transform: rotate(13deg); }
              100% { transform: rotate(0); }
            }
          }
        }
      }
    }
  }
}

@include mobile {
  // Applying to Warehouse List for now. Can apply to the rest if approved
  // Mainly focusing on the table layout in mobile view. (Layout and Order)
  
  .table__container {
    .warehouse_table {
      table {
        display: block;
        padding: 0;
      }

      thead {
        display: none;
      }

      tbody tr {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid $instock-light-grey;
        border-radius: 8px;
        padding: 16px;
        background-color: white;
      }

      tbody td {
        box-sizing: border-box;
        position: relative;

        &::before {
          content: attr(data-label);
          font-weight: bold;
          color: $instock-slate;
          display: block;
          font-size: 12px;
          text-transform: uppercase;
        }
      }

      tbody td:nth-child(1),
      tbody td:nth-child(3)
      {
        width: 50%;
      }

      tbody td:nth-child(2),
      tbody td:nth-child(4)
      {
        width: 50%;
      }

      tbody td:nth-child(1) {
        order: 1;
      }

      tbody td:nth-child(3) {
        order: 2;
      }

      tbody td:nth-child(2) {
        order: 3;
      }

      tbody td:nth-child(4) {
        order: 4;
      }

      tbody td:nth-child(5) {
        order: 5;
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        &::before {
          display: none;
        }
      }
    }
  }
  
}