@use "./fonts" as *;
@use "./variables" as *;
@use "./mixins" as *;
// TYPOGRAPHY ===============================
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ul,
li,
body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  color: $instock-black;
  padding-inline-start: 0px;
  font-weight: normal;
  text-decoration: none;
  list-style-type: none;
}
body {
  background-color: $instock-light-grey;
}
h1 {
  font-size: 32px;
  font-weight: 700;
  @include mobile {
    font-size: 28px;
  }
}
h2 {
  font-size: 24px;
  font-weight: 700;
  @include mobile {
    font-size: 20px;
  }
}
h3 {
  font-size: 14px;
  font-weight: 400;
  @include mobile {
    font-size: 13px;
  }
}
h4 {
  font-size: 12px;
  font-weight: 400;
  @include mobile {
    font-size: 14px;
  }
}
p {
  font-size: 16px;
  font-weight: 400;
}
// BASIC CONTAINER ===============================
.container {
  border: 1px dotted black;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}
// STANDARD BUTTON ===============================
//Primary button
button {
  cursor: pointer;
  @include mobile {
    padding: 10px 40px;
  }
}
.btn-main {
  background-color: $instock-blue;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
}
.btn-secondary {
  background-color: $instock-white;
  border: 1px solid $instock-cloud;
  color: $instock-graphite;
  border-radius: 30px;
  padding: 10px 20px;
}
.btn-delete {
  background-color: $instock-red;
  border: none;
  color: $instock-white;
  border-radius: 30px;
  padding: 10px 20px;
}