@import './fonts';

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ul,
li,
body {
  font-family: 'Titillium Web', sans-serif;
  margin-block-end: 0rem;
  margin-block-start: 0rem;
  padding-inline-start: 0px;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  list-style-type: none;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 14px;
  font-weight: 400;
}

h4 {
  font-size: 12px;
  font-weight: 400;
}

p{
  font-size: 16px;
  font-weight: 400;
}