/*======================
_variables.scss  
======================*/

// Primary Colors

$instock-black:#13182c;
$instock-blue:#2e66e5;
$instock-transparentblue: #d2ddf898;
$instock-white:#ffffff;

// Secondary Colors
$instock-slate:#5c667e;
$instock-cloud:#bdc5d5;

//Background colors
$instock-graphite:#232940;
$instock-light-grey:#f7f8f9;

//Supporting colors
$instock-green:#158463;
$instock-red:#c94515;

// tags background
$instock-tagbg: #15846337;
$outofstock-tagbg: #c9451537;

// Hover background
$instock-hoverblue: #004bfa;

