@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #010d2999;
  z-index: 99;
  height: 100%;
  width: 100%;

  @include mobile {
    align-items: unset;
  }

  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    background: $instock-white;
    border-radius: 5px;
    height: fit-content;
    width: 40%;
    padding: 40px 60px;
    z-index: 999;
    transform: translateY(-100px);
    animation: slideUpDesktop 0.3s ease-in-out forwards;

    @include tablet {
      width: 70%;
    }

    @include mobile {
      justify-content: space-between;
      width: 100%;
      height: auto;
      max-height: 100%;
      border-radius: 0;
      padding: 72px 32px 32px 32px;
      transform: translateY(0);
      animation: slideUp 0.3s ease-in-out forwards;
    }

    .close-btn {
      position: absolute;
      top: 4%;
      right: 2%;
      cursor: pointer;

      @include mobile {
        top: 2%;
      }
    }

    .modal__header {
      font-weight: 600;
      margin-bottom: 20px;
    }

    .modal__cta-btn {
      display: flex;
      gap: 8px;
      align-self: flex-end;

      @include mobile {
        width: 100%;
        gap: 16px;
      }

      .btn-delete,
      .btn-secondary {
        flex: 1;
      }
    }
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideUpDesktop {
    from {
      opacity: 0;
      transform: translateY(0);
    }
    to {
      opacity: 1;
      transform: translateY(-100px);
    }
  }
}
