@use "../../styles/partials/variables" as *;

.tag__container {
    background: $instock-tagbg;
    width: fit-content;
    height: 26px;
    padding: 0 8px;
    border-radius: 20px;

    .tag__text {
        color: $instock-green;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
    }
}