@use "./styles/partials/global" as *;
@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

.app__wrapper {
  position: relative;
}

.main__container {
  background: #fff;
  width: 80%;
  margin: 10px auto;
  height: fit-content;
  min-height: auto;
  max-height: 100%;
  box-shadow: 0 0 6px $instock-cloud;
  transform: translateY(-115px);

  @include mobile{
    margin:80px auto 10px;
  }
}

.form__container {
  background: $instock-white;
  margin: 10px auto;

  .form__nav {
    display: flex;
    justify-content: space-between;
    padding: 32px 40px 24px 40px;

    .back-link {
      display: flex;
      align-items: center;

      svg {
        margin-right: 8px;
        cursor: pointer;
      }

      .form__nav-header {
        font-weight: 600;
      }
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 32px 40px;
    border-top: 1px solid $instock-cloud;
    background: linear-gradient(to bottom, $instock-white 80%, $instock-light-grey 20%);

    &__fields {
      display: flex;
      flex-direction: row;
      padding: 32px 40px;
    }

    &__column {
      display: flex;
      flex-direction: column;
      flex: 1;

      &-left {
        border-right: 1px solid $instock-cloud;
        margin-right: 40px;
        padding: 0 40px 0 0;
      }
    }

    &__header {
      color: $instock-black;
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    @include mobile {
      background: linear-gradient(to bottom, $instock-white 90%, $instock-light-grey 20%);
      padding: 0;

      &__fields {
        flex-direction: column;
        padding: 0;
      }

      &__column {
        padding: 32px 40px;

        &-left {
          margin-right: 0;
          border-right: none;
          border-bottom: 1px solid $instock-cloud;
        }
      }

      &__buttons {
        justify-content: space-around;

        button {
          width: 100%;
        }
      }
    }
  }

  .form__buttons {
    display: flex;
    justify-content: flex-end;
    padding: 32px 40px;

    .btn-main {
      font-size: 16px;
      padding: 10px 20px;
      border-radius: 30px;
      cursor: pointer;
      margin-left: 10px;

      &.cancel-btn {
        background: $instock-white;
        color: $instock-slate;
        border: 1px solid $instock-cloud;
      }

      &.save-btn {
        background: $instock-blue;
        color: #fff;
      }

      &:hover {
        opacity: 0.8;
      }

      @include mobile {
        margin-left: 0;
      }
    }

    @include mobile {
      justify-content: center;
      gap: 15px;
    }
  }
}