@use "./styles/partials/global" as *;
@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

.app__wrapper {
  position: relative;
}

.main__container {
  background: #fff;
  width: 80%;
  margin: 10px auto;
  height: fit-content;
  max-height: 80vh;
  box-shadow: 0 0 6px $instock-cloud;
  transform: translateY(-115px);
}